/* Your styles go here */
.text {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	padding: 20px;
	margin: 10px;
}

.body{
	font-size: 25pt;
	font-family: sans-serif;
}

.author {
	font-size: 15pt;
	font-family: Courier;
}
